[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyperclip = "*"
pytest = "*"
allure-pytest = "*"
pytest-allure-adaptor = "*"

[dev-packages]

[requires]
python_version = "3.9"
